@mixin quiz($mobile) {
    .top {
        display: flex;
        justify-content: space-between;
        @if $mobile {            
            flex-direction: column;
            align-items: center;
        }
    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: center;

        @if $mobile {
            flex-direction: column;
        }
    }
}

.elem-quiz {
    @include quiz(false);
}

@media only screen and (max-width: 600px) {
    .elem-quiz {
        @include quiz(true);        
    }
}