@mixin quiz($mobile) {
    .top {
        display: flex;
        justify-content: space-between;
        @if $mobile {            
            flex-direction: column;
            align-items: center;
        }
        
        a {
            text-decoration: none;
            color: var(--default-foreground);
        }

        .scoring {
            display: flex;
            justify-content: space-between;
            align-items: center;
            >* {
                margin: 0 calc(var(--distance-value)*3);
            }

            span {
                margin-right: calc(var(--distance-value)*2);
            }
        }
    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @if $mobile {
            flex-direction: column;
        }
    }

    >.actions {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.elem-quiz {
    @include quiz(false);
}

@media only screen and (max-width: 600px) {
    .elem-quiz {
        @include quiz(true);        
    }
}