@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "./Colors.scss";
@import "./StarJediSE.scss";

.font-starJediSe {
    font-family: 'StarJediSE', 'Open Sans', sans-serif;
}

html,
body,
#root,
.root-star-quiz {    
    overflow: hidden;
    height: 100%;
    background-color: var(--default-background);
    color: var(--default-foreground);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.root-star-quiz {    
    max-width: 1880px;
    margin: 0 auto;
}