.elem-characterTip {
    .details {        
        display: flex;
    }

    .loading {
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        > * {
            margin: var(--distance-value);
        }
    }

    .image {
        display: table-caption;

        .elem-asyncImage {
            display: inline-block;
            margin-right: calc(var(--distance-value)*3);

            img {
                display: block;
            }
        }
    }

    .capitalize {
        text-transform: capitalize;
    }
}