$twice-distance-value: calc(var(--distance-value)*2);

.elem-character {
    background-color: var(--default-accent);
    margin: $twice-distance-value;
    padding: $twice-distance-value;
    border-radius: $twice-distance-value;

    .image {        
        text-align: center;
        margin-bottom: var(--distance-value);

        img {
            object-fit: cover;
            max-width: 300px;
            height: 350px;            
            border-radius: $twice-distance-value;
        }

        .fake {
            width: 300px;
            height: 350px;
            background-color: var(--default-background);
            border-radius: $twice-distance-value;
            margin: $twice-distance-value auto;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            font-size: 1.2em;
            background-color: var(--default-foreground);
            border: 0;
            border-radius: var(--distance-value);
            padding: var(--distance-value);
            color: var(--default-background);

            &.correct {
                background-color: var(--success);
            }
        }

        button {
            margin-left: $twice-distance-value;
        }
    }
}