.ui-button {    
    font-size: 1.2em;
    background-color: var(--default-foreground);
    border: 0;
    border-radius: var(--distance-value);
    padding: var(--distance-value) calc(var(--distance-value)*2);
    color: var(--default-background);
    cursor: pointer;    
    text-decoration: none;

    &:disabled {
        background-color: var(--default-background);
        cursor: no-drop;
        color: var(--default-accent);
        border: 1px solid var(--default-accent);
    }

    span.oi {
        vertical-align: sub;
        margin: 0 var(--distance-value);
    }
}